*{
 margin: 0px;
    padding: 0px;
}

.App-logo{
    height: 2em;
    margin-top: 10px;
}

.PageHeader{
    background-color: #2e5b9a;
    webkit-box-shadow: 0px 0px 69px 15px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 0px 69px 15px rgba(0,0,0,0.62);
    box-shadow: 0px 0px 69px 15px rgba(0,0,0,0.62);
    border-style: none;
}

/**
    Label de saludo al usuario
 */
#UserMenu{
    color: azure;
    background-color: #2e5b9a;
}

